<section class="no-padding" id="abstracts">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Abstracts</h2>
                <hr class="primary">
                <a href="https://forms.gle/gr72tusf9f13Upo5A" class="btn btn-primary btn-xl">Submit!</a>
                <p>July 15: Deadline to be considered for a Flash Talk</p>
                <p>August 15 (or thereabouts): Final deadline for all abstracts</p>
            </div>
        </div>
    </div>
</section>
