<section id="abstracts">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Posters & Elevator Pitches</h2>
                <hr class="primary">
                <p>Elevator pitch winners were selected by a committee of patient advocates. Poster award winners were selected based on popular vote count by meeting participants. Winners and cash prizes were announced at the reception dinner.</p>
                <p><b>Poster Award Winners:</b>
                   <ul>1st place (tie): Ujjwal Baid - <em>The Federated Tumor Segmentation (FeTS) Initiative: The Largest To-Date Real-World Federation Focusing on NeuroOncology</em></ul>
                   <ul>1st place (tie): Kaushik Dutta - <em>Deep Learning based framework for quantitative estimation of StandardCount [18F]-FDG PET from in-vivo preclinical Low-Count [18F]-FDG PET images</em></ul>
                   <ul>2nd place (tie): Bassel Ghaddar - <em>Reconstructing physical cell interaction networks from single-cell data using Neighbor-seq</em></ul>
                   <ul>2nd place (tie): Susanna Kiwala - <em>Continuing improvements to pVACtools to meet the challenges of neoantigen identification and prioritization</em></ul>
                   <ul>3rd place (tie): Intekhab Hossain - <em>Prior-informed NeuralODEs to discover sparse regulatory dynamics from timecourse gene expression data</em></ul>
                   <ul>3rd place (tie): Huiming Xia - <em>Computational prediction of MHC anchor locations guide neoantigen identification and prioritization</em></ul>
                </p>
                <p><b>Elevator Pitch Award Winners:</b></p>

                <p><b>Most Compelling Description:</b>
                   <ul>1st place: Greg Caporaso (QIIME)</ul>
                   <ul>2nd place: Jun Kong (DPLab)</ul>
                   <ul>3rd place: Harry Hochheiser (DeepPhe)</ul>
                </p>
                <p>
                   <b>Most Potential for Patient Impact:</b>
                   <ul>1st place: Arpad Danos (CIViC)</ul>
                   <ul>2nd place: Jin Chen (STAN-CT)</ul>
                   <ul>3rd place: Susanna Kiwala (pVACtools)</ul>
                </p>
            </div>
        </div>
    </div>
</section>
