<section id="abstracts">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Poster abstracts</h2>
                <hr class="primary">
                <br><br><p>Poster abstract submission is now closed. Poster abstracts received before the first deadline were 
                 automatically considered for a lightning talk (i.e., poster + lightning talk).</p>
                <p><b>Important Dates:</b></p>
                <p>July 15: Deadline to be considered for a Lightning Talk</p>
                <p>August 15 (or thereabouts): Final deadline for all Poster Abstracts</p>
                <p><b>Poster Awards:</b> Use stickers found in your badge to vote for your favorite poster. You can vote more than once but please do not vote for your own poster. There are two poster sessions (odd-numbered and even-numbered posters). Please use half your stickers for each session. Poster award winners will be selected based on popular vote count. Winners and cash prizes will be announced at the reception dinner.</p>
            </div>
        </div>
    </div>
</section>
