<section id="accommodations">
  <div class="container">
      <div class="row">
          <div class="col-lg-12 text-center">
              <h2 class="section-heading">Accommodations</h2>
              <hr class="primary">
              <p>We have secured a <strong>limited number</strong> of discounted rooms for conference attendees at The <a href="https://www.sonesta.com/royal-sonesta/mo/st-louis/chase-park-plaza-royal-sonesta-st-louis/">Chase Park Plaza</a> Royal Sonesta St Louis. In order to receive the discounted conference rate, all <strong>bookings should be made no later than Monday, August 22nd, 2022</strong>.</p>

<p>The conference rate for a standard room is $179.00 / night + taxes.</p>

<p>Please note that we have only reserved a limited number of rooms. <strong>Reserve your room early to receive the discounted rate</strong>.</p>

<p>Attendees may book hotel room(s) using either the <a href="https://gc.synxis.com/rez.aspx?Hotel=77171&Chain=5157&arrive=09/12/2022&depart=09/15/2022&group=09122022ITCR">Direct webpage URL</a> OR by calling 1-800-Sonesta (766-3782). Please reference code "<strong>09122022ITCR</strong>" to obtain the discounted rate. Cancellations must be made 24 hours in advance of the day of arrival.</p>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3116.1954699629096!2d-90.26693378441232!3d38.64438556942272!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87d8b529ab43eb05%3A0x4621800c24b1f8f4!2sThe%20Chase%20Park%20Plaza%20Royal%20Sonesta%20St.%20Louis!5e0!3m2!1sen!2sus!4v1651245600216!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
      </div>
  </div>
</section>
