<section id="accommodations">
  <div class="container">
      <div class="row">
          <div class="col-lg-12 text-center">
              <h2 class="section-heading">Accommodations</h2>
              <hr class="primary">
              <p>We have secured a <strong>limited number</strong> of rooms at a reduced rate for conference attendees at The <a href="https://www.sonesta.com/royal-sonesta/mo/st-louis/chase-park-plaza-royal-sonesta-st-louis/">Chase Park Plaza</a> Royal Sonesta St Louis. In order to receive this discounted conference rate, all bookings should be made no later than Monday, August 22nd, 2022.</p>

<p>The conference rate for a standard (Chase - King) room is $179.00 / night plus taxes.</p>       

<p>Please note that we have only reserved a limited number of rooms. Please reserve your room early to receive the discounted rate.</p>

<p>Attendees may book 2022 hotel room reservations as follows:
<ul><a href="https://gc.synxis.com/rez.aspx?Hotel=77171&Chain=5157&arrive=09/12/2022&depart=09/15/2022&group=09122022ITCR">Direct webpage URL</a>
<ul>Call 1-800-Sonesta (766-3782). Please reference "09122022ITCR" when reserving your room to obtain the discounted rate.
<ul>Cancellations must be made 48 hours in advance of the day of arrival. 
</p>
          </div>
      </div>
  </div>
</section>
