<section id="directions">
  <div class="container">
      <div class="row">
          <div class="col-lg-12 text-center">
              <h2 class="section-heading">Meeting Directions (EPNEC)</h2>
              <hr class="primary">
	      <p>The scientific portion of the ITCR meeting will be held on the Medical Campus of Washington University, in the Central West End of St Louis, at the Eric P Newman Education Center (see below for directions).</p> 

              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3116.529507556978!2d-90.26476248420092!3d38.636703479611825!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87d8b520b3ae911d%3A0x1166a8cdb0022038!2sEric%20P.%20Newman%20Education%20Center!5e0!3m2!1sen!2sus!4v1650385757456!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
      </div>
  </div>
</section>
