<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>ITCR 2022</h1>
            <hr class="light">
            <p>At the 2022 ITCR meeting, groups funded by the National Cancer Institute’s ITCR Network will meet to discuss cancer informatics research. <a href="#registration">Register</a> and <a href="#accommodations">book your hotel room</a> today!</p>
            <a href="#registration" class="btn btn-primary btn-xl page-scroll">Registration</a><br>
            <a href="#accommodations" class="btn btn-primary btn-xl page-scroll">Hotel Booking</a>
        </div>
    </div>
</header>
