<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>ITCR 2022</h1>
            <hr class="light">
            <p>Washington University is hosting NCI’s Informatics Technology for Cancer Research (ITCR) investigators to showcase the latest advances in informatics and computational tools for cancer research and precision medicine.  Register and book your hotel early.</p>
            <a href="#registration" class="btn btn-primary btn-xl page-scroll">Registration</a><br><br>
            <a href="#accommodations" class="btn btn-primary btn-xl page-scroll">Hotel Booking</a>
        </div>
    </div>
</header>
