<section class="bg-primary" id="registration">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">September 13th - 14th 2022</h2>
                <hr class="light">
                <p class="text-faded">Washington University School of Medicine in St Louis<br>Eric P. Newman Education Center (EPNEC)<br>320 South Euclid Avenue<br>St. Louis, MO 63110 </p>
                <a href="https://commerce.cashnet.com/WUITCR2022" class="btn btn-default btn-xl">Register!</a>
                <p class="text-faded"><br>REGISTRATION DEADLINE: AUGUST 15, 2022</p>
                <p>Contact <a class="secondary_text" href="mailto:{{ site.email }}">{{ site.email }}</a> with any questions</p>
            </div>
        </div>
    </div>
</section>
