<section class="bg-primary" id="registration">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">September 13th - 14th 2022</h2>
                <hr class="light">
                <p class="text-faded">Washington University School of Medicine in St Louis<br>Eric P. Newman Education Center (EPNEC)<br>320 South Euclid Avenue<br>St. Louis, MO 63110 </p>
                <a href="https://www.eventbrite.com/e/318082763107" class="btn btn-default btn-xl">Register!</a>
<p class="text-faded">REGISTRATION DEADLINE: AUGUST 15, 2022</p>
            </div>
        </div>
    </div>
</section>
