<section id="schedule">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Schedule</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-calendar wow bounceIn text-primary"></i>
                    <h3>Monday September 12th</h3>
		    <p class="text-muted">IDC Workshop at Location TBD (3-5PM)</p>
                    <p class="text-muted">Dinner on your own (5-7PM)</p>
                    <p class="text-muted">Evening Meet-up at <a href="https://www.stlchaseclub.com/">Chase Club hotel bar</a> (7-9PM)</p>
                    <h3>Tuesday September 13th</h3>
                    <p class="text-muted">Breakfast at <a href="https://meet.wustl.edu/places/eric-p-newman-education-center-epnec/">EPNEC</a> (7:30-8:45AM)</p>
                    <p class="text-muted">ITCR Meeting Day 1 at <a href="https://meet.wustl.edu/places/eric-p-newman-education-center-epnec/">EPNEC</a> (8:45AM-5:15PM)</p>
                    <p class="text-muted">Social Outing at <a href="https://moulinevents.com/rhone-rum-bar/">Rhone Rum Bar</a> (6:45-9:45PM)</p>
                    <h3>Wednesday September 14th</h3>
                    <p class="text-muted">Breakfast at <a href="https://meet.wustl.edu/places/eric-p-newman-education-center-epnec/">EPNEC</a> (7:30-8:45AM)</p>
                    <p class="text-muted">ITCR Meeting Day 2 at <a href="https://meet.wustl.edu/places/eric-p-newman-education-center-epnec/">EPNEC</a> (8:45AM-5:00PM)</p>
                    <p class="text-muted">Reception at <a href="https://www.missouribotanicalgarden.org/">Missouri Botanical Garden</a> (6:30-9:30PM)</p>
                    <h3>Thursday September 15th</h3>
                    <p class="text-muted">ITN Workshop at Location TBD (9AM-12PM)</p>
                    <h3>Detailed Agenda</h3>
                    <p class="text-muted"><a href="/pdf/ITCR_2022_Program_v5.pdf">Scientific Program (PDF)</a></p>
                </div>
            </div>
        </div>
    </div>
</section>
