<section id="schedule">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Schedule</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-calendar wow bounceIn text-primary"></i>
                    <h3>Monday September 12th</h3>
                    <p class="text-muted">Travel Day (Arrival)</p>
                    <p class="text-muted">Evening Meet-up (<a href="https://www.stlchaseclub.com/">Chase Club</a>)</p>
                    <h3>Tuesday September 13th</h3>
                    <p class="text-muted">Scientific Session</p>
                    <p class="text-muted">Social Outing (<a href="https://www.rhonerumbar.com/">Rhone Rum Bar</a>)</p>
                    <h3>Wednesday September 14th</h3>
                    <p class="text-muted">Scientific Session</p>
                    <p class="text-muted">Reception (<a href="https://www.missouribotanicalgarden.org/">Missouri Botanical Garden</a>)</p>
                    <h3>Thursday September 15th</h3>
                    <p class="text-muted">Travel Day (Departure)</p>
                    <h3>Detailed Agenda</h3>
                    <p class="text-muted"><a href="/pdf/Schedule.pdf">Coming soon</a></p>
                </div>
            </div>
        </div>
    </div>
</section>
