<section id="sponsors" class="bg-dark">
      <div class="container text-center">
          <div class="sponsors">
              <h2>Sponsors</h2>
          </div>
          <div class="col-lg-6 col-md-6 text-center">
              <a href="https://siteman.wustl.edu/"><img src="img/sponsors/siteman.png" class="img-responsive" alt="Siteman Cancer Center"></a>
          </div>
          <div class="col-lg-6 col-md-6 text-center">
              <a href="https://www.mir.wustl.edu/"><img src="img/sponsors/mir.png" class="img-responsive" alt="Mallinckrodt Institute of Radiology"></a>
          </div>
      </div>
</section>
