<section class="bg-primary" id="workshops">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
               <h2 class="section-heading">Workshops</h2>
               <hr class="light">
                <h3 class="section-heading">The NCI Imaging Data Commons (IDC) is a cloud-based repository of publicly available cancer imaging data co-located with the analysis and exploration tools and resources.</h3>
                <p>Details of the IDC workshop can be found at: <a class="secondary_text" href="https://docs.google.com/presentation/d/1v56KuRQnp_9a3rzhH6UmluybILJII-QYxf3TijVrcHg/edit?usp=sharing">IDC workshop details</a></p>
                <p>Apply for the IDC workshop <a class="secondary_text" href="https://bit.ly/itcr22-idc">here!</a></p>
                <hr class="light">
                <h3 class="section-heading">The ITCR training network (ITN) is a collaborative effort of researchers around the United States to support cancer informatics and data science training through resources, technology, and events.</h3>
                <p>Details of the ITN can be found <a class="secondary_text" href="https://www.itcrtraining.org/">here!</a></p>
                <p>Apply for the ITN workshop <a class="secondary_text" href="https://forms.gle/TKT4kTtP4jsUxqcA6">here!</a></p>
            </div>
        </div>
    </div>
</section>
